
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    min-height: 100%;
    background-color: #1D1D1D;
    font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar{
    width: 0.5em;
    background-color: /* #0a0a0a; */ #1d1d1d; 
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #08FDD8);
    border-radius: 8px;
}
/* defining zones */

.header{
    grid-area: header;
}

.nav-bar{
    grid-area: navbar;
}

.main{
    grid-area: main;
    overflow: hidden;
}

.experience{
    grid-area: experience;
    overflow: hidden;
}

.contact{
    grid-area: contact;
    overflow: hidden;
}

.footer{
    grid-area: footer;
    overflow: hidden;
}

.allContent{
    grid-template:
        "header" 
        "navbar" 100vh
        "main" 
        "experience" 
        "contact"
        "footer"
    ;
}

.allContent {
    display: grid;
    grid-template-areas:
        "header"
        "navbar" 
        "main" 
        "experience" 
        "contact"
        "footer"
    ;
}

/* Preloader logo */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .preload{
      display: flex;
      background-color: black;
      position: fixed; 
      z-index: 20;
      height: 100vh;
      width: 100vw;
      align-items: center;
      justify-content: center;
  }
  

/* styling zones */

.allContent > *{
    text-align: center;
}

/* Styling header */
.header{
    background-color: #111111;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    /* box-shadow: 0px 1px 10px black; */
    z-index: 10;
    /* top: 0;
    left: 0;  */
    color: #08FDD8;
}

.menuMobile{
    background-color: red;
    display: none;
}

#home{
    text-decoration: none;
}

#logo{
    transition: 0.2s;
}

#logo:hover{
    color: #FFFFFF;
    transition: 0.2s;
}

#logoMenuResp{
    display: none;
}

.header h1{
    padding: 0.3em;
    color: #08FDD8;
}

.menu{
    float: right;
    padding: 1.5%;
    width: 40em;
}

.menu a{
    text-decoration: none;
    color: #08FDD8;
    transition: 0.2s;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.menu a:hover{
    color: whitesmoke;
    transition: 0.2s;
    border: solid whitesmoke 1px;
}

.header h1{
    float: left;
    margin-left: 2em;
}

/* Styling navbar */

.side-menu{
    display: none; 
}

.nav-bar{
    background-color: #111111;
    background-image: url(./assets/backgroundnav.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative; 
}

#particles-js{
    height: 100%;
    width: 100%;
    z-index: 1; 
    position: absolute;
}

.hero{
    
    text-align: left;
    width: 70%;
    padding: 2%;
    z-index: 0;
    margin-left: 3%;
    margin-top: 5%;
}

.hero h1{
    /* color: #02f0f0; */
    font-family: 'Kaushan Script', cursive;
    color: #FFFFFF;
    font-size: 9.3vw;
    margin-top: 0.5em;
}

.hero p{
    color: #08FDD8;
    font-size: 1.2em;
    margin-left: 11%;
}

/* styling main */
.main{
    /* height: 100vh; */
}

.projects{
    /* height: 100vh; */
    /* width: 100vw; */
    padding-top: 4.5em;
}

.project{
    width: 90%;
    margin: auto;
    display: flex;
    position: relative;
   /*  background-color: rgb(40, 44, 44); */
   /* background-color: rgb(0, 84, 99); */
    /* box-shadow: 0px 1px 10px black; */
}

.line{
    position: absolute;
    width: 38%;
    margin-left: 4vw;
    margin-top: 5.5vh;
    height: 1px;
    background: #08FDD8;
    border: none;
    background-image: -webkit-linear-gradient(left,transparent,#36bed9,transparent);
}

.titles{
    font-family: 'Kaushan Script', cursive;
    /* color: #08FDD8; */
    color: #F3F3F3;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.image{
    padding: 3%;
    padding-right: 0;
    width: 70%; 
}

.imgP1{
    width: 50vw;
    box-shadow: 0px 1px 10px black;
    border-radius: 4px;
}

.imgP1:hover{
    filter: none; 
}

.description{
    box-shadow: 0px 1px 10px black;
    border: solid 1px #08FDD8;
    border-radius: 5px;
    width: 30%;
    margin-top: 3%;
    margin-right: 5%;
}
.text{
    font-size: 2.3vw;
    color: whitesmoke;
    padding-top: 1.5em;
}

.subtext{
    /* color: #02f0f0; */
    /* width: 100%; */
    color: #F3F3F3;
    
    padding: 1.5em;
    text-align: justify;
}

.skillSet{
    /* height: 100vh; */
    /* background-color: rgb(40, 44, 44); */
    
    padding-top: 4em;
}

.contentSkillSet{
    /* background-color: rgb(40, 44, 44); */
    /* background-color: rgb(0, 84, 99); */
    border: solid 1px #08FDD8;
    border-radius: 4px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0px 1px 10px black;
    position: relative;
    
}

.descLogo{
    display: none;
}

.logo{
    height: 8em;
    padding-left: 4em;
    padding-right: 4em;
    margin-top: 3%;
    margin-bottom: 2%;
}

/* .squareDesc{
    position: absolute;
    color: whitesmoke;
    border: solid whitesmoke 1px;
    width: 15vw;
    height: 40vh;
    top: 2em;
    display: none;
    z-index: 10;
} */

/* Styling main content */

.main-content{
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: #202020;
}

/* Styling experience */
.experience{
    /* height: 100vh; */
}

.contentExperience{
    border: solid 1px #08FDD8;
    border-radius: 4px;
    width: 60%;
    margin: auto;
    box-shadow: 0px 1px 10px black;
}

#experienceZone{
    padding-top: 5em;
}

.resume{
    margin: auto;
}

.resume h1{
    margin-top: 0.5em;
    color: #F3F3F3;
}

#rsubTitle{
    color: #b4a7a7;
}

.rsubTitles{
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    background-color: #08FDD8;
    font-size: 1.2em;
}

.ulQualifications{
    padding: 4em;
    padding-top: 0em;
    text-align: left;
    color: #F3F3F3;
}

.educationTitle{
    color: #F3F3F3; 
    font-size: 1.2em;
    padding-bottom: 1em;
}

/* Styling contact */
.contact{
    /* height: 100vh; */
}

#contactZone{
    padding-top: 8em;
    margin-bottom: 4em; 
}

.contactDiv{
    padding: 4em;
}

#contactHead{
    color: #F3F3F3;
}

#mail{
    color: grey;
    font-size: 3em;
}

/* Styling footer */

#contentFooter{
    background-color: #111111;
    opacity: 0.8;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contentFooter p{
    color: #F3F3F3; 
}

/* Working with responsive design */

@media (max-width: 500px){
    .allContent{
        grid-template:
            "header"
            "side-menu" 
            "navbar" 100vh
            "main" 
            "experience" 
            "contact"
            "footer"
        ;
    }

    .nav-bar{
        background-color: #111111;
        background-image: url(./assets/backgroundmob.jpg);
        background-size: 100vh;
        background-repeat: no-repeat;
        position: relative; 
    }

    #particles-js{
        height: 100vh;
        width: 100vw;
        z-index: 1; 
        position: absolute;
    }

    .header{
        background-color: #111111;
        opacity: 0.8;
        position: fixed;
        width: 100%;
        /* box-shadow: 0px 1px 10px black; */
        z-index: 10;
        /* top: 0;
        left: 0;  */
        color: #08FDD8;
        height: 4em;
    }

    #logoMenuResp{
        display: inline;
        height: 2.4em;
        margin-left: 8em;
        margin-top: 0.8em;

    }

    #logoMenuResp:hover{
    }

    .menuMobile{
        display: none; 
        flex-direction: column;
        background-color: #111111;
        width: 100%;
        height: 100vh;
        opacity: 0.8;
        z-index: 200;
        position: fixed;
        margin-top: 4em;
    }

    .menuMobile a{
        padding: 2em;
        color: #F3F3F3;
        text-decoration: none;
        font-size: 1.4em;
    }

    .side-menu{
        display: inline;
        position: fixed;
        /* background-color: #111111; */
        background-color: white;
        opacity: 0.8;
        margin-left: 43%;
        height: 50vh;
        z-index: 40;
        margin-top: 35%;
        display: none;
    }

    .side-menu p{
        font-size: 0.5em;
    }

    .contentSide-menu{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu a{
        display: none;
    }

    .hero{
        text-align: left;
        width: 70%;
        padding: 3%;
        z-index: 0;
        margin-left: 3%;
        margin-top: 40%;
    }

    .hero h1{
        font-size: 5em;
        line-height: 1em;
    }

    .hero p{
        margin-top: 2em;
        font-size: 1em;
    }

    .line{
        width: 20%;
    }

    .project{
        flex-direction: column;
        padding: 0%;
        width: 100vw;
    }

    .image{
        width: 100%;
        padding: 0%;
    }

    .imgP1{
        width: 100%;
        box-shadow: 0px 1px 10px black;
        border-radius: 4px;
        filter: none;
    }

    

    .description{
        width: 100%;
    }

    .text{
        font-size: 1.5em;
        padding-top: 4%;
    }

    .skillSet{
        margin-top: 4em;
        height: auto;
    }

    .contentSkillSet{
        height: auto;
        padding-bottom: 1em;
    }

    .logo{
        padding: 5%;
    }

    .descLogo{
        display: block;
        color: #F3F3F3;

    }

    #experienceZone{
        margin-top: 4em;
    }

    .resume{
        width: 100%;
    }

    .contentExperience{
        width: 90%;
    }

    .ulQualifications{
        padding: 2em;
    }

    .contactDiv{
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #contactHead{
        font-size: 1.5em;
        width: 100%; 
    }

    #mail{
        font-size: 1.8em;
    }

}